--
-- PostgreSQL database dump
--

\restrict 4iPh4JildieaQA0k161dt0ZWZ5Zzx6NVbnVhU3laqw0LQprqQc75sMQFDi1UE7M

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Departments" (
    "DepartmentID" integer NOT NULL,
    "Name" text NOT NULL
);


ALTER TABLE public."Departments" OWNER TO postgres;

--
-- Name: Departments_DepartmentID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Departments" ALTER COLUMN "DepartmentID" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Departments_DepartmentID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Employees" (
    "EmployeeID" integer NOT NULL,
    "FirstName" character varying(50) NOT NULL,
    "LastName" character varying(50) NOT NULL,
    "HireDate" timestamp with time zone NOT NULL,
    "DepartmentID" integer NOT NULL
);


ALTER TABLE public."Employees" OWNER TO postgres;

--
-- Name: Employees_EmployeeID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Employees" ALTER COLUMN "EmployeeID" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Employees_EmployeeID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: Departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Departments" ("DepartmentID", "Name") FROM stdin;
1	HR
2	Engineering
\.


--
-- Data for Name: Employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Employees" ("EmployeeID", "FirstName", "LastName", "HireDate", "DepartmentID") FROM stdin;
1	Alice	Smith	2026-02-10 16:58:32.783214+02	1
2	Bob	Jones	2026-02-10 16:58:32.783215+02	2
3	Chris	Smolders	2026-02-10 17:18:21.176484+02	2
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260210145833_InitialCreate	8.0.4
\.


--
-- Name: Departments_DepartmentID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Departments_DepartmentID_seq"', 3, false);


--
-- Name: Employees_EmployeeID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Employees_EmployeeID_seq"', 3, true);


--
-- Name: Departments PK_Departments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Departments"
    ADD CONSTRAINT "PK_Departments" PRIMARY KEY ("DepartmentID");


--
-- Name: Employees PK_Employees; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employees"
    ADD CONSTRAINT "PK_Employees" PRIMARY KEY ("EmployeeID");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Employees_DepartmentID; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Employees_DepartmentID" ON public."Employees" USING btree ("DepartmentID");


--
-- Name: Employees FK_Employees_Departments_DepartmentID; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employees"
    ADD CONSTRAINT "FK_Employees_Departments_DepartmentID" FOREIGN KEY ("DepartmentID") REFERENCES public."Departments"("DepartmentID") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 4iPh4JildieaQA0k161dt0ZWZ5Zzx6NVbnVhU3laqw0LQprqQc75sMQFDi1UE7M

